[Unit]
Description=Confluent Control Center
Documentation=http://docs.confluent.io/
After=network.target

[Service]
Type=simple
User=controlcenter
Group=rioapp
ExecStart=/opt/confluent/bin/control-center-start.sh
TimeoutStopSec=180
Restart=always

[Install]
WantedBy=multi-user.target
