[Unit]
Description=RESTful Avro schema registry for Apache Kafka
Documentation=http://docs.confluent.io/
After=network.target

[Service]
Type=simple
User=schemaregistry
Group=rioapp
ExecStart=/opt/confluent/bin/schema-registry-start.sh
TimeoutStopSec=180
Restart=always

[Install]
WantedBy=multi-user.target